numpy==2.0.0
pandas==2.0.3
streamlit
pandas-datareader==0.10.0
pandas-gbq==0.19.2
pandas-stubs==2.0.3.230814
#pypi==2.1
#tabula==1.0.5
#SQLAlchemy==1.4.46
#mysql-connector==2.2.9
#PyPDF2==3.0.1
#Pillow==9.4.0
#pdfplumber==0.8.0
#docx2txt==0.8
#text-unidecode==1.3
